<div class="container col-md-6 mt-5">
    <div class="card">
        <div class="card-header">
            <h3>Agregar Comercios</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Nombre:</label>
                    <input type="text" class="form-control" [(ngModel)]="comercio.nombre" name="nombre">
                </div>
                <div class="form-group">
                    <label for="">Telefono:</label>
                    <input type="text" class="form-control" [(ngModel)]="comercio.telf" name="telf">
                </div> 
                <div class="form-group">
                    <label for="">Direccion:</label>
                    <input type="text" class="form-control" [(ngModel)]="comercio.direccion" name="direccion">
                </div>
                <div class="form-group">
                    <label for="">ID del admin:</label>
                    <input type="number" class="form-control" [(ngModel)]="comercio.id_adm_comercio" name="idAdministrador">
                </div>
                <ul *ngFor="let city of cities">
                    <li>{{city}}</li>
                </ul>
                <button (click)="Guardar()" class="btn btn-danger mt-2">Guardar</button>
            </form>
        </div>
    </div>
</div>
