<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Agregar Comercios</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Nombre:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Telefono:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Direccion:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">ID del administrador:</label>
                    <input type="number" class="form-control">
                </div>
                <button class="btn btn-danger">Guardar</button>
            </form>
        </div>
    </div>
</div>
