<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Editar Comercios</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Nombre:</label>
                    <input type="text" class="form-control" [(ngModel)]="comercio.nombre" name="nombre">
                </div>
                <div class="form-group">
                    <label for="">Telefono:</label>
                    <input type="text" class="form-control" [(ngModel)]="comercio.telf" name="telf">
                </div> 
                <div class="form-group">
                    <label for="">Direccion:</label>
                    <input type="text" class="form-control" [(ngModel)]="comercio.direccion" name="direccion">
                </div>
                <div class="form-group">
                    <label for="">ID del administrador:</label>
                    <input type="number" class="form-control" [(ngModel)]="comercio.id_adm_comercio" name="idAdministrador">
                </div>
                <button (click)="Actualizar()" class="btn btn-danger">Actualizar</button>
            </form>
        </div>
    </div>
</div>
